body {
  font: 0.875rem "Century Gothic", Futura, sans-serif;
  margin: 1.25rem;
}

ol, ul {
  padding-left: 1.875rem;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 0.625rem;
}

.square {
  background: #fff;
  border: 0.25rem solid #000839;
  float: left;
  font-size: 7.5rem;
  font-weight: bold;
  line-height: 10rem;
  height: 10rem;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 0;
  text-align: center;
  width: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0, 8, 57, 0.75), 0 6px 10px 0 rgba(0, 8, 57, 0.75);
  animation: square-spin 1.5s linear;
}

.square:focus {
  outline: none;
}

@keyframes square-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(90deg); }
}

button {
  border: 2px solid #005082;
  color: #005082;
  font-weight: 600;
}

button.square[game-id="X"] {
  background-color: #FFA41B;
  /* Yellow */
  color: #005082;
  /* Med Blue */
  transform: scale(1.05);
}

button.square[game-id="O"] {
  background-color: #005082;
  /* Med Blue */
  color: #FFA41B;
  /* Yellow */
  transform: scale(1.05);
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-info {
  margin-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border: 3px dotted #00A8CC;
  font-size: 1rem;
  font-weight: 600;
  color: #00A8CC;
}

.game-status {
  color: #005082;
}

.logo {
  font-size: 4rem;
  font-weight: 500;
  color: #005082;
}

.yellow-crater {
  color: #FFA41B;
  font-weight: 700;
}


/*--------Media Queries---------*/

@media screen and (max-width: 375px) {
  /*mobile*/
  .square {
    font-size: 3rem;
    height: 4rem;
    line-height: 4rem;
    width: 4rem;
  }
}