body {
  font: 0.875rem "Century Gothic", Futura, sans-serif;
  margin: 1.25rem;
}

ol, ul {
  padding-left: 1.875rem;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 0.625rem;
}

.square {
  background: #fff;
  border: 0.25rem solid #000839;
  float: left;
  font-size: 7.5rem;
  font-weight: bold;
  line-height: 10rem;
  height: 10rem;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 0;
  text-align: center;
  width: 10rem;
  box-shadow: 0 4px 8px 0 rgba(0, 8, 57, 0.75), 0 6px 10px 0 rgba(0, 8, 57, 0.75);
  animation: square-spin 1.5s linear;
}

.square:focus {
  outline: none;
}

@keyframes square-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(90deg); }
}

button.square[game-id="X"] {
  /* Med Blue */
  color: #005082;
}

button.square[game-id="O"] {
  /* Yellow */
  color: #FFA41B
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 1.25rem;
}
